/* Import external stylesheets and fonts */
@import "./reset.css";

:root {
  --font-primary: "Space Grotesk", sans-serif;
  --font-secondary: "DM Sans", sans-serif;
  --bg-color-dark: #1c1b2d;
  --text-color-light: #ffffff;
  --text-color-dark: #000000;
  --link-color: #cbff00;
  --hover-bg-color: #f5f5f5;
  --header-height: 3.875rem; 
  --default-padding: 1.25rem; 
  --default-radius: 1.25rem; 
}

/* Base Styles */
body {
  font-family: var(--font-primary);
}

/* Header styles within the digital tools section, designed for impact and hierarchy. */
h2 {
  font-size: 3.25rem; 
  margin-bottom: 1.25rem; 
  font-family: var(--font-secondary);
}

/* Sub-header styles within the digital tools section, providing additional context or categorization. */
h4 {
  font-size: 0.875rem; 
  letter-spacing: 0.625rem; 
  padding-bottom: 0.625rem; 
  text-transform: uppercase;
  font-weight: 700;
}

/* Main container for commerce info content with consistent top padding and defined width and height */
.section__company-content,
.commerce-info-content,
.our-values-info-content,
.testimonials-info-content,
.founder-info-content,
.faq-info-content {
  display: flex;
  padding-top: 1.875rem;
  padding-left: 6.875rem; 
  padding-right: 6.875rem; 
  height: 41.25rem;
  width: inherit;
}

/* Styling for section headers, making them  visible */
.services-info__header,
.digital-tools-info_header,
.commerce-info-header,
.projects-info-header,
.our-values-info-header,
.testimonials-info-header {
  margin: 1.25rem;
}

/* Header */
header {
  position: sticky;
  top: 0;
  width: 100%; 
  z-index: 1000;
}

/* Navigation Bar */
.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  height: var(--header-height);
  padding: var(--default-padding);
}

/* Logo */
.header__logo img {
  width: 6.25rem; /* Fixed width for the logo */
}

/* Navigation Links */
.header_nav a {
  color: var(--text-color-dark);
  font-size: 0.875rem; /* Legible font size for navigation links */
  font-weight: 500;
}

/* Menu Links */
.header__menu a {
  display: flex;
  color: var(--text-color-dark);
  font-weight: 700;
}



/* Desktop link - visible on wide screens */
.menu-link {
  display: block;
}

/* Hamburger - visible on small screens */
.hamburger {
  display: none;
}






/** Section 1 **/
/* General Layout and Styling */
/* Flexbox layout centers content both vertically and horizontally, with custom margins for spacing. */
.section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0.875rem; 
  margin-bottom: 0.625rem; 
}

/* Container within each section to control dimensions and layout of contained elements. */
.section__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%; 
  max-width: 86.25rem; 
  min-height: 48.75rem;
  overflow: hidden;
}

.section__company-content {
  flex-direction: column;
  justify-content: center;
  width: 70%;
}

/* Section Background Styling */
.section--company-info {
  background-image: url("../images/header/header_img.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: var(--bg-color-dark);
  background-position: center; 
}

/* Company Info Text Styling */
.company-info__slogan,
.company-info__text,
.company-info__button {
  color: var(--text-color-light);
  text-align: left;
}

/* Specific styling for the company slogan to emphasize its importance. */
.company-info__slogan {
  font-size: 5rem; 
  font-weight: 700;
  line-height: 1.2em;
  padding-bottom: 0.625rem; 
}

/* Styling for additional descriptive text within the company info section. */
.company-info__text {
  font-size: 1.5rem; 
  line-height: 2.6875rem; 
  font-weight: 300;
}

/* Button Styling within Company Info */
.company-info__button .button,
button {
  background-color: var(--text-color-dark);
  color: var(--text-color-light);
  text-transform: uppercase;
  border-radius: 6.25rem; 
  font-size: 0.875rem; 
  font-weight: 700;
  letter-spacing: 0.1375rem; 
  cursor: pointer;
  padding: 1.125rem 2.25rem; 
  margin-top: 2.25rem; 
  border: 2px solid var(--text-color-light);
  width: 12.5rem; 
}

.company-info__button .button:hover {
  color: var(--text-color-dark);
  border-color: var(--text-color-dark);
  background-color: var(--hover-bg-color);
}





/** Section 2 **/
/*Services Information */

/* Main container for service info, uses column layout for vertical alignment of child elements. */
.services-info__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Container for individual service cards, arranged horizontally. */
.services-info__cards {
  display: flex;
}

/* Styling for individual service cards */
.services-info__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 16.25rem;
  height: 26.25rem; 
  background-color: var(--bg-color-dark);
  color: var(--text-color-light);
  border: 2px solid whitesmoke;
  border-radius: var(--default-radius);
  margin: 0.9375rem; 
  line-height: 2.5rem; 
  box-shadow: 0.625rem 0.625rem 0 #000; 
  transition: transform 0.2s;
}

/* Hover effect for service cards */
.services-info__cards .services-info__card:hover {
  transform: scale(1.05);
  background-color: gainsboro;
  color: var(--text-color-dark);
}

/* Icon styling within service cards */
.services-info__card-icon {
  font-size: 1.875rem;
  padding: 0.625rem; 
}

/* Title styling within service cards */
.services-info__card-title {
  font-size: 2rem;
  font-weight: 700;
  padding-bottom: 0.625rem; 
  }

/* Styling for descriptive options within service cards */
.services-info__card-options {
  max-width: 15.625rem; 
  font-size: 1.375rem; 
  font-weight: 300;
  padding: 1.875rem; /* from 30px */
}





/** Section 3 **/
/* Digital Tools Information Styling */

/* Flex container for digital tools content */
.digital-tools-info-content {
  display: flex;
  height: 41.25rem;
}

/* Styles for the textual content within the digital tools section */
.digital-tools-info-text {
  display: flex;
  flex-direction: column;
  margin-left: 6.875rem; 
}

/* Defines the style for the options list within the digital tools section */
.digital-tools-info_options {
  font-size: 1.5rem;
  font-weight: 110;
  line-height: 3rem;
}

/* Additional styling for a specific option */
.digital-tools-info_option_two {
  padding: 1.5rem 1.25rem; 
  line-height: 2.6875rem; 
}

/* Common margin settings for consistency */
.digital-tools-info_header,
.digital-tools-info_options {
  margin-left: 1.0625rem; 
}

/* Container for images within the digital tools section */
.digital-tools-info-image {
  position: relative;
  left: 3.125rem; 
  transition: transform 2s ease;
}

/* Styles for images */
.digital-tools-info-image > img {
  margin-top: 4.375rem; 
  transform: translateX(0.625rem); 
  transition: transform 2s ease;
}





/** Section 4 **/
/* Commerce Information Styling */

/* Container for images within the commerce info section, uses flex layout to allow adjustable growth based on content */
.commerce-info-images {
  display: flex;
  gap: 7rem;
  align-items: flex-end; 
  flex: 2; 
  margin: 0;
  height: 100%;
}

.commerce-info-image-odered {
  align-self: flex-end;
}
/* Individual image item styling, positioned to start independently */
.commerce-info-image-items {
  align-self: flex-start;
}

/* Styling for the text content within the commerce info section, organized in a vertical column */
.commerce-info-text {
  display: flex;
  justify-content: start;
  padding-top: 4rem;
  flex-direction: column;
  flex: 1; 
}

/* Descriptive text styling for options within the commerce section, emphasizing readability */
.commerce-info-options,
.commerce-info-options > a,
.projects-info-options,
.our-values-info-options {
  font-size: 1.5rem; 
  font-weight: 300; 
  line-height: 2.375rem; 
  padding-left: 1.25rem; 
}

/* Removing left padding for anchor tags directly within options to align text properly */
.commerce-info-options > a {
  padding-left: 0; 
}

/* Additional styling for paragraph separation within options */
.commerce-info-options p {
  padding-bottom: 1.5rem; 
}

/* Image styling within the commerce section to ensure visual consistency and appeal */
.commerce-info-content img {
  height: 34.375rem; 
  width: auto; 
  border-radius: 3.125rem; 
  border: 0.625rem solid black;
  color: rgb(51, 51, 51); 
}





/** Section 5 **/
/* Projects Information Styling */

.projects-info-text {
  display: flex;
  min-height: 41.25rem;
  color: var(--text-color-light); 
  background-color: var(--bg-color-dark); 
  border-radius: 3.125rem;
  width: 100%;
  max-width: 72.5rem;
  margin-top: 1.25rem;
  flex-direction: row;
  justify-content: flex-end;
  padding-top: 1.875rem;
  padding-left: 6.875rem;
  padding-right: 6.875rem;
}

.projects-info-content {
  display: flex;
  flex-direction: column;
}

.commerce-info-options a {
  color: var(--link-color); 
}

.projects-info-composition {
  width: 42%;
}

.button--project-info {
  background-color: var(--link-color); 
  color: var(--bg-color-dark); 
  text-transform: uppercase;
  border-radius: 100px;
  font-size: 0.875rem;
  font-weight: 700;
  letter-spacing: 0.1375rem;
  cursor: pointer;
  padding: 1.125rem 2.25rem;
  margin-top: 0.625rem;
  margin-left: 3.125rem;
  width: 18.75rem;
}

.projects-info-image img {
  transform: perspective(1000px) rotateX(50deg) rotateY(2deg) rotateZ(40deg);
  transform-origin: center bottom;
  transition: transform 0.3s ease-in-out;
  border-right: 0.3125rem solid rgb(102, 102, 102); 
  border-bottom: 0.3125rem solid rgb(102, 102, 102);
  border-radius: 1.25rem;
  z-index: 1;
  width: 50rem;
  position: absolute;
  bottom: 35%;
  right: 50%;
  transform: translateZ(110deg);
}

.projects-info-image {
  z-index: 1;
}

.projects-info-composition {
  position: relative;
  z-index: 2;
}

.projects-info-content {
  position: relative;
}





/** Section 6 **/
/* Our Values
   This section uses a columnar flex layout for the main content and a grid layout for options,
   making it responsive and organized. */

/* Main content container for the Our Values section, using column direction for a vertical layout. */
.our-values-info-content {
  flex-direction: column; 
}

/* Grid container for value options, each option is distributed in three columns. */
.our-values-info-options {
  display: grid;
  grid-template-columns: repeat(
    3,
    1fr
  ); 
  grid-template-rows: repeat(3, 1fr);
  gap: 50px; 
  padding: 0;
  margin: 1.25rem;
}

/* Individual grid items styling, centered both vertically and horizontally. */
.our-values-info-options > div {
  display: flex;
  justify-content: center; 
  align-items: center; 
  border-radius: var(
    --default-radius
  ); 
  padding: 10px 5px 10px 5px;
}

/* Styling for paragraphs within grid items, limited to a maximum width. */
.our-values-info-options > div > p {
  max-width: 70%; 
}

/* Specific styling for the first option to increase its visibility and importance. */
.our-values-info__option--first {
  min-height: calc(100% + 20px);
}

/* Background and border styles for the first column items. */
.our-values-info-options > div:nth-child(3n + 1) {
  background-color: var(
    --text-color-light
  ); 
  border: 1px solid var(--text-color-dark);
}

/* Background style for the second column items, using a lighter shade for differentiation. */
.our-values-info-options > div:nth-child(3n + 2) {
  background-color: rgb(
    243,
    243,
    243
  ); 
}

/* Background style for the third column items, highlighted with a vibrant color. */
.our-values-info-options > div:nth-child(3n + 3) {
  background-color: var(
    --link-color
  ); 
}





/** Section 7 **/
/* Founder Information
   This section is dedicated to displaying the founder's information with a focus on responsiveness and aesthetic presentation. */

/* Container for the founder information, styled for visibility and alignment. */
.founder-info-content {
  display: flex;
  height: 41.25rem;
  color: var(--text-color-light); 
  background-color: var(
    --bg-color-dark
  ); 
  border-radius: var(
    --default-radius
  ); 
  width: 100%; 
  max-width: 1160px; 
  flex-direction: row; 
  margin: 40px auto; 
  align-items: center;
  gap: 5%;
}

/* Styling for individual divisions in the founder content area, using flexbox. */
.founder-info-content > div {
  flex: 1; 
}

/* Header area within the founder section, includes background image and alignment. */
.founder-info-header {
  height: 100%;
  display: flex;
  align-items: center; 
  justify-content: center; 
  background-image: url("../images/header/header_img.png");
  background-size: contain; /* Ensures the image fits the content area without being cropped */
  background-repeat: no-repeat; /* Image does not repeat */
  background-color: var(
    --bg-color-dark
  ); /* Background color using CSS variable */
  background-position: center; /* Positions background image in the center */
}

/* Text styling for the header, making it prominent and readable. */
.founder-info-header-text {
  display: flex;
  align-items: center; /* Aligns text elements vertically */
  font-size: 64px; /* Large font size for visibility */
}

/* Flex container for additional founder data, such as biography or achievements. */
.founder-info-data {
  display: flex;
  flex-direction: column; /* Stacks data vertically */
  height: inherit; /* Inherits height from its parent */
  align-items: start; /* Aligns items to the start of the flex container */
  justify-content: center; /* Centers content vertically */
}

/* Styling for images representing the founder, ensuring they are rounded and well-spaced. */
.founder-info-photo > img {
  width: 300px; /* Fixed width for consistency */
  height: 300px; /* Fixed height for consistency */
  border-radius: var(--default-radius); /* Rounded corners using CSS variable */
  margin-bottom: 20px; /* Space below the image */
}

/* Styling for the biography header, ensuring readability. */
.founder-info-bio > h4 {
  font-size: 24px; /* Moderately large font for headers */
  font-style: normal; /* Normal font style to maintain text clarity */
  text-transform: none; /* No text transformation for simplicity */
  letter-spacing: 0; /* No extra spacing between letters */
  padding-bottom: 10px; /* Space below the header for separation */
  font-weight: 500; /* Medium weight for the font */
}

/* Paragraph styling within the biography section, colored for contrast. */
.founder-info-bio > p,
.founder-info-bio > a {
  font-size: 18px; /* Smaller font size for detailed text */
  padding-bottom: 10px; /* Padding below paragraphs for neatness */
  font-weight: 300; /* Lighter font weight for readability */
  color: rgb(170, 170, 170); /* Grey color for soft contrast */
}

/* Link styling within the biography, using a bright color for emphasis. */
.founder-info-bio > a {
  color: var(--link-color); /* Color for links to make them stand out */
}





/** Section 8 **/
/*Testimonials
   Styles for testimonial display ensuring responsiveness and aesthetic alignment. */

/* Main container for testimonials with centered, column layout for vertical stacking. */
.testimonials-info-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: var(--default-padding);
}

/* Container for individual testimonials with horizontal layout and spaced evenly. */
.testimonials-info-content-options {
  display: flex;
  flex-direction: row;
  gap: 5%;
  justify-content: center; /* Ensures testimonials are centered regardless of screen size */
}

/* Ensures that each testimonial block takes equal space within the container. */
.testimonials-info-content-options > div {
  flex: 1;
}

/* Header styling within the testimonials for clear hierarchy. */
.testimonials-info-header > h2 {
  font-size: 4rem; 
  margin-bottom: 40px;
  font-weight: 700;
}

/* General styling for testimonial texts, includes padding for separation and rounded borders for style. */
.testimonials-info-text-first,
.testimonials-info-text-second {
  border-radius: var(--default-radius);
  padding: 30px;
  font-size: 1.44rem; 
  font-weight: 300;
  text-align: left;
  color: #666; 
  background-color: #f3f3f3;
}

/* Adjusts the height for the second testimonial to occupy less vertical space. */
.testimonials-info-text-second {
  height: 80%;
}

/* Additional styling to emphasize the header in the first testimonial text block. */
.testimonials-info-text-first h5,
.testimonials-info-text-second > h5 {
  margin-bottom: 50px;
  line-height: 1.5;
}

/* Styling for paragraphs within the testimonial texts for consistent typography. */
.testimonials-info-text-first > p,
.testimonials-info-text-second > p {
  font-size: 0.94rem;
}





/** Section 9 **/
/* FAQ and Feedback Form Styles */
/* Provides styling for FAQ and feedback form sections with clear layout and interactive elements */

/* General container settings for FAQ section, ensuring central alignment */
.faq-info-content {
  display: flex;
  flex-direction: column;
  align-items: center; 
}

/* Ensures that the form takes full width of the container */
.feedback-form,
.feedback-form > form {
  width: 100%;
}

/* Input and textarea field width set to 70% to maintain form structure */
.feedback-form > form > input,
.feedback-form > form > textarea {
  width: 70%;
}

/* Vertical layout for form elements with centered alignment */
.feedback-form > form {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
  gap: 35px; 
}

/* Styling for input fields and textarea, with light background and padding */
.feedback-form > form > input,
.feedback-form > form > textarea {
  background-color: #eeeeee;
  padding: 16px;
}

/* Button styling within the form */
.feedback-form > form > button {
  margin: 0; 
}

/* Styling for submit button with pointer cursor and transition for hover effects */
.button-submit {
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease; /* Smooth transition for background color change on hover */
}

/* '>' symbol hidden by default, shown only on hover */
.submit-symbol {
  display: none; 
}

/* Hover effect for submit button: changes color and shows '>' symbol */
.button-submit:hover {
  color: black;
  border-color: black; 
  background-color: rgb(
    245,
    245,
    245
  );
}

/* '>' symbol becomes visible on hover and changes color */
.button-submit:hover .submit-symbol {
  display: inline; 
  color: black;
}

/* Footer Styles */
/* Sets up a flexible, centered layout with a full-width background image */
footer {
  background-image: url("../images/header/header_img.png"); 
  background-size: cover;
  background-repeat: no-repeat; 
  background-color: #111111; 
  scroll-snap-align: end; 
  width: inherit; 
  color: #ffffff; 
  display: flex; 
  justify-content: center;
  align-items: center; 
  padding: 80px; 
  height: 300px; 
}

/* Container for holding and spacing footer elements */
.footer__container {
  display: flex; 
  justify-self: center; 
  gap: 150px; 
}

/* Styling for sections within the footer, allowing for organized content */
.footer__section {
  display: flex; 
  flex-direction: column;
}

/* Title styling within the footer for clear hierarchy */
.footer__title {
  font-size: 20px; 
}
/* Styling for list elements within the footer to format lists appropriately */
.footer__list {
  list-style: none; 
  font-size: 16px; 
  font-weight: lighter; 
}
/* Email link styling, ensuring it stands out and is recognizable */
.footer__email {
  color: #cbff00; /* Bright color for visibility and design accent */
}









/** Add media queries */

/* For tablets */
@media (max-width: 768px) {
  .section__company-content,
  .commerce-info-content,
  .our-values-info-content,
  .testimonials-info-content,
  .digital-tools-info-content,
  .founder-info-content,
  .projects-info-content,
  .faq-info-content {
    height: auto;
    margin-top: 1.25rem;
    flex-direction: column;
    height: 100%;
    padding-top: 0.875rem; 
    padding-left: 0.875rem; 
    padding-right: 0.875rem; 
  }

  h2 {
    font-size: 2.5rem; /* Smaller font for smaller devices */
  }
  h4 {
    font-size: 1rem;
  }

  p,
  li {
    font-size: 1.3rem;
  }

  .header__nav {
    align-items: center;
  }

  .header__logo img,
  .header__menu a {
    width: 50%;
    text-align: center;
  }

  

  .menu-link {
    display: none;
}
.hamburger {
    display: block;}




  .section__company-content {
    width: 100%;
  }

  .section__container {
    width: 90%;
    padding: 0 5%;
  }

  /*Section 1  */
  .company-info__slogan {
    font-size: 2.5rem;
  }

  /* Section 2 */
  .services-info__cards {
    display: flex;
    flex-direction: column;
  }


  /* Section 3 */
  .digital-tools-info-content {
    display: flex;
    flex-direction: column;
  }

  .digital-tools-info-text {
    display: flex;
    justify-content: flex-start;
    margin-left: 0;
  }

  /* Section 4 */
  .commerce-info-text {
    order: -1;
    padding: 0;
  }

  .commerce-info-images {
    display: flex;
    flex-direction: column;
  }

  .commerce-info-image-items,
  .commerce-info-image-odered {
    display: flex;
    align-self: center;
  }

  /* Section 5 */
  .projects-info-composition {
    width: 100%;
  }

  .projects-info-image img {
    transform: perspective(1000px) rotateX(60deg) rotateY(2deg) rotateZ(40deg);
    width: 90%;
    bottom: 20%;
    right: 30%;
  }

  /* Section 6 */
  .our-values-info-options {
    display: grid;
    grid-template-columns: repeat(1, 1fr);

    gap: 40px; 
    padding: 15;
    margin: 1.25rem;
  }

  .our-values-info-options > div {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(
      --default-radius
    ); 
    padding: 10px 15px 10px 15px;
  }

  /* Section 8 */
  .testimonials-info-content-options {
    display: flex;
    flex-direction: column;
    gap: 5rem;
  }
}




/** For mobile phones */
@media (max-width: 480px) {
  h2 {
    font-size: 1.5rem;
  }

  .header__nav {
    flex-direction: row;
  }




  .header__logo img,
  .header__menu a {
    display: flex;
    width: 30%;
  }


  .section__container {
    padding: 1rem;
  }

  .company-info__slogan {
    font-size: 2rem;
  }

  .services-info__card {
    width: 100%;
    margin: 10px 0;
  }




.testimonials-info-header h2 {
  font-size: 2rem;
}

/* Section 6 */

.our-values-info-options  {
  margin: 0;
} 



footer {
    padding: 10px; 
    height: 300px; 
  }
  
  
.footer__container {
    flex-direction: column;
    display: flex;
    justify-self: center; 
    gap: 15px; 
  }
  
}









































